"use client";

import { GdsProvider } from "@doneisbetter/gds-theme/client";
import { appTheme } from "./theme";

export function AppProviders({
  children,
  mode
}: {
  children: React.ReactNode;
  mode: "light" | "dark";
}) {
  return (
    <GdsProvider theme={appTheme} defaultColorScheme={mode}>
      {children}
    </GdsProvider>
  );
}
